<div class="col-lg-12">
   <h2 class="page-header">Todas Las Motocicletas</h2>
</div>

<div class="col-lg-12">
    <div class="col-sm-10 ">
   <div ng-repeat="motor in motors | filter:query | orderBy:orderProp" class="col-lg-4 col-sm-6 text-center">
    <a href="#/motors/{{motor.id}}" class="thumb"><img ng-src="{{motor.imageUrl}}" width="200" height="170"></a>
    <a href="#/motors/{{motor.id}}">
        <h3>{{motor.name}}</h3>
    </a>
         
    <p>{{motor.snippet}}</p>
    </div>
</div>
<div class="col-sm-2 ">
       

  

      <form class="form-horizontal" role="form">

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Filtro</label>
          <div class="col-sm-12">
            <input type="text" class="form-control" ng-model="query">
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Organizar por:</label>
          <div class="col-sm-12">
            <select class="form-control" ng-model="orderProp">
              <option value="name">Alphabetical</option>
              <option value="age">Newest</option>
            </select>
          </div>
        </div>
      </form>


   
</div>



           

            